@font-face {
  font-family: "Benguiat";
  src: url("fonts/Benguiat.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-width: 370px;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  min-width: 450px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.logo p {
  margin-left: 90px;
  color: white;
  text-align: center;
  font-size: 2.4rem;
  font-family: Benguiat;
}
.menu {
  display: flex;
  list-style-type: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

.list-item:hover {
  background-color: #e63946;
}

.main {
  width: 100vw;
  background-image: url(images/background_content.jpg);
  background-position: center top;
  background-size: 100% auto;
  min-width: 450px;
}

.content {
  display: flex;
  width: 100%;
  color: white;
  font-size: 2.6rem;
  text-align: center;
}

.locations,
.content {
  margin-top: 60px;
}

.locations-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  min-width: 470px;
  max-width: 470px;
}

.locations-images img {
  width: 100%;
  max-width: 298px;
  height: 168px;
}

.caption {
  display: flex;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-family: Benguiat;
  justify-content: center;
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  height: 90px;
  width: 100vw;
  margin-top: auto;
  min-height: 50px;
  min-width: 450px;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}

.social-media img {
  width: 50px;
  height: 50px;
  margin: 0px 20px;
}
