.header {
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
.logo {
  margin-left: 10px;
  margin-bottom: 0;
}

.locations {
  display: flex;
  align-items: center;
}

.locations-images {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo p {
  margin-left: 25px;
}
.main {
  width: 100vw;
}

.content p {
  width: 100%;
  margin: 0 auto;
}
